{{ define "main" }}
<main>
  <article>
    <div class="post-header">
      <h1>{{ .Title }}</h1>
      {{ if ( ne true .Params.staticpage ) }}
        <span class="pubdate"> {{ .Date.Format "Jan 2, 2006" }}</span>
        {{ range .Params.tags }}
          <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      {{ end }}
    </div>
    
    {{ .Content }}
    {{ if and (.Site.DisqusShortname) ( ne true .Params.staticpage ) }}
      <div>
        {{ partial "disqus.html" . }}
      </div>
    {{ end }}
  </article>
</main>
{{end}}
